@{
    ViewBag.Title = "Tin tức";
    ViewBag.Active = "none";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="ybc_full_bg_breadcrum">
    <div class="container">
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Return to Home">Trang chủ</a>
            <span class="navigation-pipe">&gt;</span>
            Tin tức
        </div>
    </div>
</div>
<div id="columns" class="container">
    <div class="row">
        <div id="left_column" class="column col-xs-12 col-sm-3">
            <div class="so-panel widget widget_text">
                <div class="sb-widget panel-widget-style">
                    <h3 class="widget-title">Hỗ trợ trực tuyến</h3>
                    <div class="textwidget" style="float:left; padding:0px;">
                        <ul class="uleft">
                            <li class="ar-yahoo-item w-clear">
                                <div class="img fl-l">
                                    <img src="~/Assets/client/images/support-icon.png" alt="Yahoo">
                                </div>
                                <div class="yahoo-item fl-r">
                                    <div class="name">
                                        Đức Trưởng <a href="skype:?call"><img src="~/Assets/client/images/s.png" alt="Skype">    </a><a href="ymsgr:sendim?"><img src="~/Assets/client/images/y.png" alt="Yahoo">   </a> <a href="sms:0942307407"><img src="~/Assets/client/images/sms.png" alt="sms">   </a>
                                    </div>
                                    <div class="phone">
                                        0942 307 407
                                    </div>
                                </div>
                            </li>
                            <li class="ar-yahoo-item w-clear">
                                <div class="img fl-l">
                                    <img src="~/Assets/client/images/support-icon.png" alt="Yahoo">
                                </div>
                                <div class="yahoo-item fl-r">
                                    <div class="name">
                                        Nguyễn Hải <a href="skype:?call"><img src="~/Assets/client/images/s.png" alt="Skype">    </a><a href="ymsgr:sendim?"><img src="~/Assets/client/images/y.png" alt="Yahoo">   </a> <a href="sms:0978800936"><img src="~/Assets/client/images/sms.png" alt="sms">   </a>
                                    </div>
                                    <div class="phone">
                                        0978 800 936
                                    </div>
                                </div>
                            </li>
                            <li class="ar-yahoo-item w-clear">
                                <div class="img fl-l">
                                    <img src="~/Assets/client/images/support-icon.png" alt="Yahoo">
                                </div>
                                <div class="yahoo-item fl-r">
                                    <div class="name">
                                        Bảo Hân <a href="skype:?call"><img src="~/Assets/client/images/s.png" alt="Skype">    </a><a href="ymsgr:sendim?"><img src="~/Assets/client/images/y.png" alt="Yahoo">   </a> <a href="sms:01257839729"><img src="~/Assets/client/images/sms.png" alt="sms">   </a>
                                    </div>
                                    <div class="phone">
                                        0125 783 9729
                                    </div>
                                </div>
                            </li>
                            <li class="ar-yahoo-item w-clear">
                                <div class="img fl-l">
                                    <img src="~/Assets/client/images/support-icon.png" alt="Yahoo">
                                </div>
                                <div class="yahoo-item fl-r">
                                    <div class="name">
                                        Thùy Dương <a href="skype:?call"><img src="~/Assets/client/images/s.png" alt="Skype">    </a><a href="ymsgr:sendim?"><img src="~/Assets/client/images/y.png" alt="Yahoo">   </a> <a href="sms:0903074411"><img src="~/Assets/client/images/sms.png" alt="sms">   </a>
                                    </div>
                                    <div class="phone">
                                        0903 07 4411
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="so-panel widget widget_text">
                <div class="sb-widget panel-widget-style">
                    <h3 class="widget-title">Tin tức mới nhất</h3>
                    <div class="textwidget">
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4" style="padding:5px;">
                                <img src="~/upload/Images/tptdental-hoat-dong-tu-thien.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-sm-8" style="padding:5px;">
                                <h5>Hoạt động từ thiện của công ty quý II</h5>
                            </div>
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4" style="padding:5px;">
                                <img src="~/upload/Images/tptdental-viem-quanh-rang-nho.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-sm-8" style="padding:5px;">
                                <h5>Phòng tránh bệnh viêm quanh răng</h5>
                            </div>
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4" style="padding:5px;">
                                <img src="~/upload/Images/tptdental_top-7-thuc-pham-giu-cho-rang-khoe-manh-nh.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-sm-8" style="padding:5px;">
                                <h5>Top 7 thực phẩm giữ cho răng khỏe mạnh</h5>
                            </div>
                        </div>
                        <div class="row" style="margin:0px;">
                            <div class="col-sm-4" style="padding:5px;">
                                <img src="~/upload/Images/tptdental-nhat-nam-va-quang-anh-cung-ps-bao-ve-nu-cuoi-viet-nam4-nho.jpg" alt="Alternate Text" />
                            </div>
                            <div class="col-sm-8" style="padding:5px;">
                                <h5>Nhật Nam và Quang Anh cùng P/S Bảo vệ nụ cười Việt Nam</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="so-panel widget widget_text">
                <div class="sb-widget panel-widget-style">
                    <h3 class="widget-title">Facebook fanpage</h3>
                    <div class="textwidget">
                        <div class="fb-page" data-href="https://www.facebook.com/tptmiennam/?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/tptmiennam/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tptmiennam/?fref=ts">Công Ty TNHH TMDV Trang Thiết Bị Y Tế TPT Miền Nam</a></blockquote></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="center_column" class="center_column col-xs-12 col-sm-9">
            <div class="ybc_blog_layout_large_grid ybc_blog_skin_default ybc-blog-wrapper ybc-blog-wrapper-blog-list ybc-page-home">
                <h1 class="page-heading product-listing" style="display:none"><span class="title_cat">Featured posts</span></h1>
                <ul class="ybc-blog-list row">
                    <li itemscope="" itemtype="http://schema.org/LiveBlogPosting">
                        <div class="post-wrapper">
                            <a class="ybc_item_img" href="#">
                                <img title="Lorem ipsum dolor sit amet" src="/upload/images/tptdental-hoat-dong-tu-thien-1.jpg" alt="Lorem ipsum dolor sit amet">
                            </a>
                            <div class="ybc-blog-wrapper-content">
                                <div class="ybc-blog-wrapper-content-main">
                                    <h2><a href="#">Hoạt dộng từ thiện của công ty quý 2</a></h2>
                                    <div class="ybc-blog-latest-toolbar">
                                        <div class="item blog-extra-item be-view-block" title="Page views">
                                            <span class="be-view-span">187 <span>Lượt xem</span></span>
                                        </div>
                                        <span title="Liked" class="item ybc-blog-like-span ybc-blog-like-span-2 " data-id-post="2">
                                            <span class="blog-post-total-like ben_2">0</span>
                                            <span class="blog-post-like-text blog-post-like-text-2"><span>Liked</span></span>
                                        </span>
                                    </div>
                                    <div class="blog-content">
                                        <p>Với tinh thần tương thân tương ái, cảm thông và sẽ chia những khó khăn với công đông. TPT Miền Nam luôn dành ra ngân sách cho các hoạt động từ thiện hỗ trợ các trung tâm nuôi dưỡng trẻ em mồ côi khuyết tật, trẻ em đường phố...</p>
                                    </div>
                                    <div class="ybc-blog-post-footer">
                                        <a class="read_more" href="#">Xem tiếp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/LiveBlogPosting">
                        <div class="post-wrapper">
                            <a class="ybc_item_img" href="#">
                                <img title="Lorem ipsum dolor sit amet" src="~/upload/images/tptdental-viem-quanh-rang-nho.jpg" alt="Lorem ipsum dolor sit amet">
                            </a>
                            <div class="ybc-blog-wrapper-content">
                                <div class="ybc-blog-wrapper-content-main">
                                    <h2><a href="#">Phòng tránh bệnh viêm quanh răng</a></h2>

                                    <div class="ybc-blog-latest-toolbar">
                                        <div class="item blog-extra-item be-view-block" title="Page views">
                                            <span class="be-view-span">196 <span>Lượt xem</span></span>
                                        </div>

                                        <span title="Liked" class="item ybc-blog-like-span ybc-blog-like-span-3 " data-id-post="3">
                                            <span class="blog-post-total-like ben_3">0</span>
                                            <span class="blog-post-like-text blog-post-like-text-3"><span>Liked</span></span>
                                        </span>
                                    </div>
                                    <div class="blog-content">
                                        <p>Bệnh viêm quanh răng ngày nay rất phổ biến và gây cho người bệnh nhiều phiền toái như tổn thương lợi, gây đau nhức, thậm chí mất răng...</p>
                                    </div>
                                    <div class="ybc-blog-post-footer">
                                        <a class="read_more" href="#">Xem tiếp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/LiveBlogPosting">
                        <div class="post-wrapper">
                            <a class="ybc_item_img" href="#">
                                <img title="Lorem ipsum dolor sit amet" src="~/upload/Images/tptdental-nhat-nam-va-quang-anh-cung-ps-bao-ve-nu-cuoi-viet-nam4-nho.jpg" alt="Lorem ipsum dolor sit amet">
                            </a>
                            <div class="ybc-blog-wrapper-content">
                                <div class="ybc-blog-wrapper-content-main">
                                    <h2><a href="#">Nhật Nam và Quang Anh cùng P/S Bảo vệ nụ cười Việt Nam</a></h2>

                                    <div class="ybc-blog-latest-toolbar">
                                        <div class="item blog-extra-item be-view-block" title="Page views">
                                            <span class="be-view-span">196 <span>Lượt xem</span></span>
                                        </div>

                                        <span title="Liked" class="item ybc-blog-like-span ybc-blog-like-span-3 " data-id-post="3">
                                            <span class="blog-post-total-like ben_3">0</span>
                                            <span class="blog-post-like-text blog-post-like-text-3"><span>Liked</span></span>
                                        </span>
                                    </div>
                                    <div class="blog-content">
                                        <p>Mỗi năm, P/S có đến 500 chuyến ghé thăm các trường học trên cả nước trông khuôn khổ chương trình “PS bảo vệ nụ cười Việt Nam”...</p>
                                    </div>
                                    <div class="ybc-blog-post-footer">
                                        <a class="read_more" href="#">Xem tiếp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- .row -->
</div>