@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="columns-container page_style_1">
    <div id="slider_row" class="">
        <div id="top_column" class="">

            <!-- Module ybc_nivoslider -->
            <div id="ybc-nivo-slider-wrapper"
                 class="theme-default"
                 style="">
                <div id="ybc-nivo-slider">
                    <a href="#">
                        <img data-id-slide="1"
                             @*data-caption-animate="type1"
                             data-caption1="New generation of digital cameras"
                             data-caption2="CAnon Fx800D"
                             data-caption3="Purchase Now"
                             data-text-direction="left"
                             data-caption-top="7%"
                             data-caption-left="310px"
                             data-caption-right="25%"
                             data-caption-width="50%"
                             data-caption-position="left"
                             data-custom_class="c2_ls_5"
                             data-button_link="#"*@
                             src="/upload/images/sl-01_1000_395.jpg"
                             alt="New generation of digital cameras"
                             title="New generation of digital cameras"
                             style="max-width: 100%; max-height: 100%;" />
                    </a>


                    <a href="#">
                        <img data-id-slide="2"
                             @*data-caption-animate="type2"
                             data-caption1="New lap top Serires"
                             data-caption2="Acer Aspire R11"
                             data-caption3="Purchase now"
                             data-text-direction="left"
                             data-caption-top="7%"
                             data-caption-left="310px"
                             data-caption-right="10%"
                             data-caption-width="50%"
                             data-caption-position="left"
                             data-custom_class=""
                             data-button_link="#"*@
                             src="/upload/images/sl-02_1000_395.jpg"
                             alt="New lap top Serires"
                             title="New lap top Serires"
                             style="max-width: 100%; max-height: 100%;" />
                    </a>
                </div>
                <div id="ybc-nivo-slider-loader">
                    <div class="ybc-nivo-slider-loader">
                        <div id="ybc-nivo-slider-loader-img">
                            <img src="digital/modules/ybc_nivoslider/img/loading.gif" alt="Loading" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Module ybc_nivoslider -->
            @*<div class="container">
                <ul class="ybc-widget-ybc-custom-5">
                    <li class="ybc-widget-item col-sm-4 col-md-4">
                        <div class="ybc-widget-item-content">
                            <div class="content_toggle ybc_links_page_home">
                                <span class="ybc-widget-subtitle">
                                    -25% OFF
                                </span>
                                <img src="digital/modules/ybc_widget/images/widget/top1.jpg" alt="Dell Inspiron" />
                                <div class="ybc-widget-description-wrapper">
                                    <h4 class="ybc-widget-title">
                                        <a href="#">
                                            Dell Inspiron
                                        </a>
                                    </h4>
                                    <div class="ybc-widget-description">
                                        <p>Signature<br /> Edition Laptop</p>
                                        <p><a class="bt_color" href="#">Purchase Now</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ybc-widget-item col-sm-4 col-md-4">
                        <div class="ybc-widget-item-content">
                            <div class="content_toggle ybc_links_page_home">
                                <span class="ybc-widget-subtitle">
                                    -10% OFF
                                </span>
                                <img src="digital/modules/ybc_widget/images/widget/top2.jpg" alt="HTC phones" />
                                <div class="ybc-widget-description-wrapper">
                                    <h4 class="ybc-widget-title">
                                        <a href="#">
                                            HTC phones
                                        </a>
                                    </h4>
                                    <div class="ybc-widget-description">
                                        <p>All brand new<br />products ready for sale</p>
                                        <p><a href="#" class="bt_color">Purchase Now</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ybc-widget-item col-sm-4 col-md-4">
                        <div class="ybc-widget-item-content">
                            <div class="content_toggle ybc_links_page_home">
                                <span class="ybc-widget-subtitle">
                                    -20% OFF
                                </span>
                                <img src="digital/modules/ybc_widget/images/widget/top3.jpg" alt="canon cameras" />
                                <div class="ybc-widget-description-wrapper">
                                    <h4 class="ybc-widget-title">
                                        <a href="#">
                                            canon cameras
                                        </a>
                                    </h4>
                                    <div class="ybc-widget-description">
                                        <p>New arrivals coming<br />with best deals</p>
                                        <p><a href="#" class="bt_color">Purchase Now</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ybc-widget-item col-sm-4 col-md-4">
                        <div class="ybc-widget-item-content">
                            <div class="content_toggle ybc_links_page_home">
                                <span class="ybc-widget-subtitle">
                                    -15% off
                                </span>
                                <img src="digital/modules/ybc_widget/images/widget/buddy-cameras-2.jpg" alt="Wifi cameras" />
                                <div class="ybc-widget-description-wrapper">
                                    <h4 class="ybc-widget-title">
                                        <a href="#">
                                            Wifi cameras
                                        </a>
                                    </h4>
                                    <div class="ybc-widget-description"><p>Safety measure for <br />your house</p></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
    <div id="columns">
        <div class="">
            <div id="center_column" class="center_column col-xs-12 col-sm-12">
                <div class="container">
                    <div class="tab-content">
                        @{Html.RenderAction("RecentProducts", "Client");}
                        @{Html.RenderAction("BestSaleProducts", "Client");}
                    </div>
                </div>
                <div class="clearfix">
                    <div id="ybc-mnf-block">
                        <div class="container">
                            <div class="ybc-mnf-block-content">
                                <h4 class="ybc-mnf-block-title title-home">
                                    <span>Đối tác</span>
                                </h4>
                                <ul id="ybc-mnf-block-ul">
                                    <li class="ybc-mnf-block-li wow zoomIn">
                                        <a class="ybc-mnf-block-a-img" href="http://apixia.com/" target="_blank"><img src="~/upload/images/1apexia.jpg" alt="" /></a>
                                    </li>
                                    <li class="ybc-mnf-block-li wow zoomIn">
                                        <a class="ybc-mnf-block-a-img" href="http://www.digimed.co.kr/" target="_blank"><img src="~/upload/images/2digimed_logo.jpg" alt="" /></a>
                                    </li>
                                    <li class="ybc-mnf-block-li wow zoomIn">
                                        <a class="ybc-mnf-block-a-img" href="http://tpcdental.com/" target="_blank"><img src="~/upload/images/3tpc_doitac.jpg" alt="" /></a>
                                    </li>
                                    <li class="ybc-mnf-block-li wow zoomIn">
                                        <a class="ybc-mnf-block-a-img" href="http://www.summitdental.com/" target="_blank"><img src="~/upload/images/4sds.jpg" alt="" /></a>
                                    </li>
                                    <li class="ybc-mnf-block-li wow zoomIn">
                                        <a class="ybc-mnf-block-a-img" href="http://www.handycreate.com/" target="_blank"><img src="~/upload/images/5handy-doitac.jpg" alt="" /></a>
                                    </li>
                                    <li class="ybc-mnf-block-li wow zoomIn">
                                        <a class="ybc-mnf-block-a-img" href="http://www.vivi-italy.it/ViVi/" target="_blank"><img src="~/upload/images/6vivi-doitac.jpg" alt="" /></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #center_column -->
        </div><!-- .row -->
    </div><!-- #columns -->
</div><!-- .columns-container -->